.blog-pagination {
    /* margin-top: 60px; */
}

.blog-pagination ul {
    list-style-type: none;
    margin-right: 0px;
    padding-right: 0px;
    clear: both;
    display: block;
}

.blog-pagination ul li {
    margin-right: 4px;
    display: inline-block;
}

.blog-pagination ul li.active a {
    color: #fff;
    background: var(--main);
    border-color: var(--main);
}

.blog-pagination ul li a {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #385777;
    border: 1px solid #eee;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    font-weight: 800;
    border-radius: 5px;
}

.blog-pagination ul li a:hover {
    background: #385777;
    color: #fff;
    border-color: #385777;
}
